In [1]:
import pandas as pd

df = pd.read_csv("/Users/clarissaache/Desktop/sample_acis_16k/sample16k_cr_cases.csv")
df.tail()

/Users/clarissaache/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (27,36,60,77) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CRRKEY,case_id,CRRKCY,CRRKCC,CRRKYY,CRRKSQ,CRRTYP,CRRNAM,CRRADD,CRRCTY,...,CRRPROCI,CRRDOMVL,CRRWCATD,CRRWCATS,CRRLOC,CRRCSE,CRRINT,CRRINTU,CRRINTFF,line
16379,250202170563800100001000,2502021705638,250,20,21,705638,CR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16380,180202070360700100001000,1802020703607,180,20,20,703607,CR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16381,770201900022100100001000,7702019000221,770,20,19,221,CR,NaN,NaN,NaN,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16382,660201870151000100001000,6602018701510,660,20,18,701510,CR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16383,170202170528600100001000,1702021705286,170,20,21,705286,CR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.CRRPRC.value_counts()
# mosly citations,

C    11088
W     2231
M     1938
S      736
O      219
I      132
X       27
B       13
Name: CRRPRC, dtype: int64

In [12]:
df.CRRSEX.value_counts()

M    11116
F     5055
U       94
Name: CRRSEX, dtype: int64

In [7]:
df['CRRKEY'].value_counts()

420201570654000100001000    1
130201605289100100001000    1
910201576588200100001000    1
730202070298100100001000    1
720201405182300100001000    1
                           ..
190201670020500100001000    1
670201971066500100001000    1
980201905110600100001000    1
780201800046900100001000    1
170202170528600100001000    1
Name: CRRKEY, Length: 16384, dtype: int64

In [2]:
casedates = df[['CRRTDT', 'CRRLUP', 'CRRDDT', 'CRRARDT']]
casedates

           CRRTDT      CRRLUP      CRRDDT CRRARDT
0      2017-02-15  2017-02-16  2017-02-16     NaN
1      2017-07-10  2017-07-13  2017-07-13     NaN
2      2006-04-03  2021-02-16  2006-04-06     NaN
3      2017-11-17  2017-10-25  2017-10-25     NaN
4      2017-07-24  2017-07-24  2017-07-24     NaN
...           ...         ...         ...     ...
16379  2021-08-20  2021-06-18         NaN     NaN
16380  2020-09-23  2020-09-23  2020-09-23     NaN
16381  2019-02-25  2019-07-18  2019-02-26     NaN
16382  2018-08-06  2018-08-07  2018-08-06     NaN
16383  2021-08-20  2021-06-20         NaN     NaN

[16384 rows x 4 columns]

In [14]:
## ------ CODING ASSESSMENT ----------##

from datetime import datetime, date

today = date.today()
print(today)

# make string into date


pd.to_datetime(casedates.CRRTDT, format='%Y-%m-%d', errors='coerce')

2022-11-24

0       2017-02-15
1       2017-07-10
2       2006-04-03
3       2017-11-17
4       2017-07-24
           ...
16379   2021-08-20
16380   2020-09-23
16381   2019-02-25
16382   2018-08-06
16383   2021-08-20
Name: CRRTDT, Length: 16384, dtype: datetime64[ns]

In [43]:
df['CRRTDT_date'] = pd.to_datetime(df.CRRTDT, format='%Y-%m-%d', errors='coerce')
df['CRRLUP_date'] = pd.to_datetime(df.CRRLUP, format='%Y-%m-%d', errors='coerce')
df['CRRDDT_date'] = pd.to_datetime(df.CRRDDT, format='%Y-%m-%d', errors='coerce')
df['CRRARDT_date'] = pd.to_datetime(df.CRRARDT, format='%Y-%m-%d', errors='coerce')

In [39]:
df[['CRRTDT_date','CRRLUP_date','CRRDDT_date', 'CRRARDT_date']].describe()

# Case Trial Date
# Last Update on Case
# Date Offence Disposed
# Arrest Dates

/var/folders/wj/g21k_l5x5l95gccmpm_gvn0c0000gn/T/ipykernel_59967/1544521441.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df[['CRRTDT_date','CRRLUP_date','CRRDDT_date', 'CRRARDT_date']].describe()

,CRRTDT_date,CRRLUP_date,CRRDDT_date,CRRARDT_date
count,16026,16384,15232,10
unique,3570,1478,1429,10
top,2021-07-16 00:00:00,2019-07-08 00:00:00,2019-07-08 00:00:00,1987-08-27 00:00:00
freq,33,55,59,1
first,1980-09-12 00:00:00,2016-01-04 00:00:00,1986-01-06 00:00:00,1985-12-10 00:00:00
last,2022-09-01 00:00:00,2021-06-30 00:00:00,2021-06-30 00:00:00,1991-12-09 00:00:00

In [15]:
df.CRRSAT.value_counts()

A    678
R    295
P    266
W     76
Name: CRRSAT, dtype: int64

In [16]:
df.CRRTYP.value_counts()
# We have mostly disrtict court cases (superior cases)

CR     15000
CRS     1384
Name: CRRTYP, dtype: int64

In [21]:
df.CRRVPR.value_counts()

2    158
1    104
S     31
W     24
8      8
7      3
R      1
4      1
3      1
Name: CRRVPR, dtype: int64